<div class="comingSoonBanner">
    <h1>Coming soon</h1>
    <h3>Stay tuned for more content as the site develops</h3>
    <h4>Please reach out to Info@brandtkeller.net with any questions</h4>
</div>