<nav>
  {{#link-to "index"}}Home{{/link-to}}
  {{#link-to "blog"}}Blog{{/link-to}}
  {{#link-to "tutorials"}}Tutorials{{/link-to}}
  {{#link-to "demo"}}Demo{{/link-to}}
  {{#link-to "contact"}}Contact{{/link-to}}
</nav>
{{outlet}}