{{!-- Place content for the initial load page here (content of Home) --}}
<div class="flex-container">
  <div class="flex-intro">
    <h1>Introduction</h1>
  </div>
  <div class="flex-item">
    <h1>Experience</h1>
  </div>
  <div class="flex-item">
    <h1>Education</h1>
  </div>
  <div class="flex-item">
    <h1>Skills</h1>
  </div>

</div>
