<div class="sidebar">
    <a class="fa fa-linkedin-square" target="_blank" rel="noopener" href="https://www.linkedin.com/in/brandtkeller/" title="Visit my LinkedIn"></a>
    <a class="fa fa-file-pdf-o" href="/assets/Keller-Resume.pdf" download="BrandtKellerResume" title="Download my Resume"></a>
    <a class="fa fa-github-square" target="_blank" rel="noopener" href="https://github.com/brandtkeller" title="Visit my GitHub"></a>
  </div>

<div class="flex-container">

  <div class="flex-intro">
    <img src="/assets/mountain.jpg" alt="Mountain">
    <div class="flex-intro-content">
      <h1>LET'S BUILD SOMETHING GREAT TOGETHER</h1>
      <h3>On a mission to engineer the next solution; from function( ) to app.</h3>
      <h2>Software Engineer | U.S. Marine | Entreprenuer | DIY Hobbyist</h2>
    </div>
  </div>
  <div class="flex-item-a">
    <img src="/assets/portrait.jpg" alt="portrait" class="portrait-img">
    <div class="flex-item-content">
      <h1>Meet Brandt Keller</h1>
      <p>
        I'm an Engineer who enjoys taking challenges head-on, and working with teams to develop performant and secure solutions.
        Adept in Full-Stack development, DevSecOps, C++/Java Application development. I'm also a Husband, Marine, Entreprenuer, 
        and Hiking/DIY/Automotive/Gym Enthusiast among many other things.
      </p>
    </div>
  </div>
  <div class="experience">
    <h1>Experience</h1>
    <h2>Boeing Phantom Works</h2>
      <h3>Software Engineer - April 2019 to Present</h3>
      <p>
        Mission Systems Software Engineer. Development of penetration testing tools for Boeing cyberSecurity certification.
        Analyzing tools and processes to integrate into the DevSecOps lifecycle in order to enhance Software Assurance principles. 
      </p>

      <h2>StrataGen Systems</h2>
      <h3>Jr Software Engineer - September 2018 to April 2019</h3>
      <p>
        Full-stack web engineer. Focused in developing a front-end user interface with Emberjs.
        Supported back-end Nodejs services through integration with front-end and developing requirements necessary throughout the stack.
      </p>
      <h3>Intern Software Engineer - March 2018 to September 2018</h3>
      <p>
        Responsible for contributing to the development of an automated end-to-end system testing suite.
        Built mock datasets to demonstrate and test full system utilization in a realistic manner.
        Provided infrastructure to continue dataset revision and progression.
      </p>

      <h2>Buchanan Automation</h2>
      <h3>Assembly Technician - January 2016 to March 2018</h3>
      <p>
        Assembly, diagnostics and modification of industrial pneumatic and electrical automation equipment in order to 
        facilitate the needs of the client. Ensured quality assurance of all assemblies prior to their departure. 
        Built requirements for enhanced inventory tracking software.
      </p>

      <h2>U.S. Marine Corps</h2>
      <h3>Sergeant - Communications Chief - September 2010 to September 2015</h3>
      <p>
        Communications Chief, Blackfoot Company, 3d Light Armored Reconnaissance Battalion. 
        Directly organized communications planning for Companywide encrypted-operations. 
        Tested, programmed, and integrated newly awarded DOD contract for vehicular communications system. 
        Awarded Navy and Marine Corps Achievement Medal, August 2012 in Southern-Helmand Province, Afghanistan.
      </p>
  </div>
  <div class="education">
    <h1>Education</h1>
    <div class="flex-item-content">
      <h2>
        University of Washington
      </h2>
      <h3>
        BS - Computer Science and Software Engineering - August 2018
      </h3>
      <p>
        Emphasis in Information Assurance and Cybersecurity.
      </p>
    </div>
  </div>
  <div class="skills">
    <h1>Skills</h1>
    <div class="flex-item-content">
      <h3>
        Java - C/C++ - JavaScript - Python - SQL/PostgreSQL - EmberJs/Reactjs/Angular 
      </h3>
      <h3>
        Agile/SCRUM - DevSecOps - Docker/NodeJs - Software Assurance - CyberSecurity
      </h3>
      <h3>
        Fuzzing - Linux - Cloud Infrastructure (AWS/Google) - GIT Workflow
      </h3>
    </div>
  </div>
  <div class="footer">
    
  </div>
</div>
