{{!-- Place content for the initial load page here (content of Home) --}}
<div class="flex-container">
  <div class="sidebar">
    <a class="fa fa-linkedin-square" href="#" title="Visit my LinkedIn"></a>
    <a class="fa fa-file-pdf-o" href="/assets/EGA.png" download="EGA" title="Download my Resume"></a>
    <a class="fa fa-github-square" href="#" title="Visit my GitHub"></a>
  </div>
  
  <div class="flex-intro">
    <img src="/assets/mountain.jpg" alt="Mountain">
    <div class="flex-intro-content">
      <h1>LET'S BUILD SOMETHING GREAT TOGETHER</h1>
      <h3>On a mission to engineer the next solution; from function() to app.</h3>
      <h2>Software Engineer | U.S. Marine | Entreprenuer | DIY Hobbyist</h2>
    </div>
  </div>
  <div class="flex-item-a">
    <img src="/assets/portrait.jpg" alt="portrait" class="portrait-img">
    <h1>Meet Brandt Keller</h1>
    <div class="flex-item-content">
      <p>
        I'm an Engineer who enjoys taking challenges head-on, and working with teams to develop performant and secure solutions.
        Adept in Full-Stack development, DevSecOps, C++/Java Application development. I'm also a Husband, Marine, Entreprenuer, 
        and Hiking/DIY/Automotive/Gym Enthusiast among many other things.
      </p>
    </div>
  </div>
  <div class="flex-item-b">
    <div class="flex-item-content">
      <h1>Experience</h1>
    </div>
  </div>
  <div class="flex-item-a">
    <div class="flex-item-content">
      <h1>Education</h1>
    </div>
  </div>
  <div class="flex-item-b">
    <div class="flex-item-content">
      <h1>Skills</h1>
    </div>
  </div>
</div>
